

<!--Footer section-->
    <footer>
        <div class="footer-content">
            <div>© URL Shorter by <strong><a target="_blank" style="text-decoration: none" href="https://github.com/nageshdevadig-a">Nagesh Devadiga</a></strong></div>
            <nav class="social-icons">
                <a target="_blank" href="https://x.com/"><img src="https://img.icons8.com/fluency-systems-filled/48/twitterx.png" alt="X"></a>
                <a  target="_blank" href="https://www.facebook.com/"><img src="https://img.icons8.com/metro/48/facebook-new--v2.png" alt="Facebook"></a>
                <a target="_blank" href="https://www.pinterest.com/"><img src="https://img.icons8.com/metro/48/pinterest.png" alt="Pinterest"></a>
                <a target="_blank" href="https://www.instagram.com/"><img src="https://img.icons8.com/windows/50/instagram-new.png" alt="Instagram"></a>
            </nav>

        </div>
    </footer>