{% extends 'baseComp/main.html' %}
{% block title %}404 Page| URL Shortner{% endblock title %}
{% block content %}
<section class="page_404 py-5 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="offset-md-1 col-md-10 text-center">
                    <div class="four_zero_four_bg" style="background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif); height: 400px; background-position: center;">
                        <h1 class="display-1 text-center">404</h1>
                    </div>
                    <div class="contant_box_404 mt-n5">
                        <h3 class="h2">Look like you're lost</h3>
                        <p>The page you are looking for is not available!</p>
                        <a href="/" class="btn btn-success">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}