{%extends 'baseComp/main.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static '/stylesheet/profile.css' %}"> {% endblock stylesheet %}
{% block content %}

<div class="profile-disp container shadow-lg p-0">
  <div class="gradient-div"></div>
  <div class="profile-header p-5">
    {% if request.user.profile_photo %}
    <img style="position: absolute;" src="{{ request.user.profile_photo }}" alt="Profile">
    {% else %}
    <img style="position: absolute;" src="{% static '/icons/user.png' %}" alt="Profile">
    {% endif %}
    <input id="profilePhotoInput" type="file" name="profile_photo" style="display: none;" accept="image/*">
    <button id="p-edit" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square"
        viewBox="0 0 16 16">
        <path
          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
        <path fill-rule="evenodd"
          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
      </svg>
    </button>
    <div id="profile-details">
      <h6>{{userName}}</h6>
      <p>{{userEmail}}</p>
    </div>
    <button style="height: 50px;" id="edit-cancel-profile" class="btn btn-cl"><svg
        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square me-1"
        viewBox="0 0 16 16">
        <path
          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
        <path fill-rule="evenodd"
          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
      </svg>edit profile</button>
  </div>

  <form id="usr-form">
    <div id="details-form">
      <div class="form-field">
        <label style="margin-right: 75%;" for="name" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" id="usr-name" value="{{userName}}" placeholder="Enter you name"
          required disabled>
      </div>
      <div class="form-field">
        <label style="margin-right: 50%;" for="email" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="usr-email" value="{{userEmail}}" placeholder="Enter you emailId"
          required disabled>
      </div>
      <button id="p-update" type="submit" class="btn btn-cl"><svg xmlns="http://www.w3.org/2000/svg" width="16"
          height="16" fill="currentColor" class="bi bi-check2-circle me-1" viewBox="0 0 16 16">
          <path
            d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0" />
          <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z" />
        </svg>change details</button>
    </div>
  </form>
  <div id="success-msg">Error message</div>
  <div id="more-opt">
    <button onclick="location.href='/change-password/'" style="display: flex;flex-direction: row;border: none;background: none;" id="change-passwd"
      class="text-primary-emphasis">
      <p>Change Password</p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-pencil-square" viewBox="0 0 16 16">
        <path
          d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
        <path fill-rule="evenodd"
          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
      </svg>
    </button>
    <button onclick="location.href='delete-account'" style="display: flex;flex-direction: row;border: none;background: none;" id="delete-acc"
      class="text-danger">

      <p>Delete Account</p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-trash" viewBox="0 0 16 16">
        <path
          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
        <path
          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
      </svg>
    </button>
    <button onclick="location.href='logout'" style="display: flex;flex-direction: row;border: none;background: none;" id="log-out" class="text-primary">

      <p>Log out</p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-box-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
        <path fill-rule="evenodd"
          d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
      </svg>
    </button>
  </div>
</div>


<div class="search-bar-container">
  <div id="filter-btn" class="filter">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-circle-fill" viewBox="0 0 16 16">
      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M3.5 5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1M5 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5"/>
    </svg>
  </div>
  <div  class="search-icon">
    <svg id="searchIcon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
    </svg>
  </div>
  <div class="search-input">
    <input id="searchInput" name="query" type="text" placeholder="Search for urls.....">
  </div>
  <div class="search-btn">
    <button class=" btn btn-cl" onclick="search()">
      Search
    </button>
  </div>
  
</div>
<div id="filter-search" class="filter-search">
  <div onclick="filterSearch('show-all')">Show All</div>
  <div onclick="filterSearch('recent-url')">Recently Created</div>
  <div onclick="filterSearch('top-ten-url')">Top 10 urls</div>
</div>

<div class=" table-cnt mt-2">
  <table class="table-list">
    <thead>
      <tr>
        <th>Long URL</th>
        <th>Short URL</th>
        <th>Visits</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="urlTable">

      {% for url in urls %}
      <tr>
        <td><input id="edit-long-url-{{url.urlID}}" type="url" name="long-url" value="{{url.longUrl}}" disabled></td>
        <td style="display: flex;"><span>http://localhost/</span><input style="width: 160px;padding-top: 2px;" id="edit-short-url-{{url.urlID}}" type="url" name="short-url" value="{{url.shortUrl}}" disabled></td>
        <td>{{url.visits}}</td>
        <td><button onclick="editUrlFunction({{ url.urlID }})" id="url-edit-button-{{url.urlID}}"  class="btn  btn-sm" type="button"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
            </svg>
          </button><button onclick="saveDeleteUrlButton({{ url.urlID }})" id="delete-link-bin-{{url.urlID}}" class="btn  btn-sm ms-1"><svg xmlns="http://www.w3.org/2000/svg"
              width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
              <path
                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
            </svg> </button></td>

      </tr>
      {% endfor %}
      <!-- URL rows will be dynamically populated here -->
    </tbody>
  </table>
</div>

{% endblock content %}

{% block javascript %}
<script src="{% static '/javascript/profile.js' %}"></script> 
<script>
  document.cookie = "csrftokenpf={{ csrf_token }}";
</script>
{% endblock javascript %}